:root {
    background-color: rgb(219, 245, 245);
    font-size: 88.5%;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: rgba(12, 70, 136, 0.938);
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.head {
    background-color: rgb(196, 214, 253);
    display: flex;
    justify-content: center;
    padding: 2rem;
}

a {
    text-decoration: none;
    /* float:left; */
    padding: 4rem;
    /* padding-bottom: 1.2rem; */
    font-size: 1.6rem;
}

input {
    margin-bottom: 1rem;
    width: 43rem;
    padding: 1.4rem;
    font-size: 1.8rem;
    border: none;
    box-shadow: 0 0.1rem 1.4rem 0 rgba(86, 165, 255, 0.548);
}

input::placeholder {
    color: #aaa;
}

form {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    font-size: 1.8rem;
    padding: 1rem 2rem;
    width: 22rem;
    text-align: center;
    border: 0.1rem solid #56a5eb;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #56a5eb;
    background-color: white;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 120ms;
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

p {
    font-size: 2.8rem;
    font-weight: bold;
    padding: 1.5rem;
}
.login {
    background-color: rgb(225, 239, 255);
    padding-top: 10rem;
    padding-bottom: 10rem;
}